@media all and (min-width: 480px) {
   .topnav {
       background-color:aqua;
       padding: 10px;
       font-size: 20px;
       /* text-align: left; */
       /* white-space: nowrap; */
   }
   body{
       background-color: pink;
   }
   .Tab1{
       background-color: black;
   }


    /* Inactive tab */
.topnav ul > li > a {
    background-color: white;
    color: red;
}
.topnav ul > li > a:hover {
    background-color: pink;
}

/* Active tab */
.topnav ul > li.active > a,
.topnav ul > li.active > a:hover,
.topnav ul > li.active > a:focus {
    background-color: red;
    color: white;
}

/* Disabled tab */
.topnav ul > li.disabled > a {
    background-color: lightgray;
    color: darkgray;
}
  }