@media all and (min-width: 480px) {
   .topnav {
       /* background-color:#557bcc; */
       padding: 10px;
       font-size: 30px;
       /* text-align: left; */
       /* white-space: nowrap; */
   }
   body{
       background-color: white;
   }
   

    /* Inactive tab */
.topnav ul > li > a {
    /* background-color: #557bcc; */
    color: black;
    padding: 30px;
    display:table;
    width:215px;
    border:1px solid green;
    text-align: center;
    font-weight: bold;
}
.topnav ul > li > a:hover {
    background-color: #8ac38c;
}

/* Active tab */
.topnav ul > li.active > a,
.topnav ul > li.active > a:hover,
.topnav ul > li.active > a:focus {
    background-color: black;
    color: white;
    padding: 30px;
    display:table;
    width:380px;
    border:1px solid green;
    text-align: center;
} 

/* Disabled tab */
.topnav ul > li.disabled > a {
    background-color: lightgray;
    color: darkgray;
    padding: 20px;
} 



.password_reset_button
{
    width: 250px;
    background-color:tomato ;
    border: 2px solid tomato ;
    border-radius: 5px;
}
.account_box_div 
{
    font-size: 30px;
    max-width: 600px;
    /* border: 3px solid green; */
    position: relative;
    left: 400px;
    top: 200px;
}

.overview
{
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
}
.desc
{
    font-size: 50px;
    font-weight: bold;
}

.surprise
{
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

  }