@media all and (min-width: 480px) {
  .Login {
    background-color: lightgrey;
    position: relative;
    left: 40%;
    top: 40px;
    border: 10px solid grey;
    width: 700px;
    height: 800px;
  }

  .Login form {
    position: relative;
    top: 25%;
    left: 100px;
    max-width: 500px;
    min-height: 400px;
        /* border: 3px solid black; */


  }
  .back_button
  {
    position: relative;
    top: 40px;
    left: 40px;
    max-width: 100px;
    max-height: 100px;
    align-content: center;
  }
  .back_png
  {
    position: relative;
    left:-10px;
    max-width: 100px;
    max-height: 100px;
    /* border: 3px solid black; */
  }
  .login_click
  {
    font-weight: bold;
    font-size: 30px;
  }
  .user_fill
  {
    font-size: 40px;
  }
  .credentials
  {
background-color: aqua;  }
 

}
