@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: #2199df;
	text-decoration: unset;
}

ul {
	margin-left: 1.5rem;
	list-style: none;
}

button,
input[type="submit"],
input[type="reset"],
input[type="verify"] {
	border: none;
	background: none;
	color: unset;
	cursor: pointer;
	text-align: center;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 1em 0;
}

body {
	font-family: "Roboto", sans-serif;
}

.page {
	padding: 1rem;
}

.container {
	margin: 0 auto;
	max-width: 900px;
}

#header {
	height: 100px;
	justify-content: space-between;
	display: flex;
	align-items: center;
	background-color: #0B0D1F;
}

#header .homebase h1 {
	display: inline-block;
	font-weight: bolder;
	color: white;
}

#header .homebase {
	padding-left: 30px;
}

#header .title {
	margin: 0;
	padding: 0 1rem;
	color:#000000;
	background-color: transparent;
}

#header .auth-options {
	height: 100%;
	display: flex;
}

#header .auth-options button {
	padding: 0 3rem;
	background-color: #FF0054;
	font-size: 1.1rem;
	color: white;
	font-weight: bold;
}

#header .auth-options button:hover {
	background-color: #9E0059;
}

.notification {
	text-align: center;
	align-items: center;
	align: center;
}

.notification h4 {
	margin-bottom: 2rem;
}

.form label,
.form input {
	display: block;
}

.form input {
	margin-bottom: 1rem
}

.form label {
	margin-bottom: 0.5rem;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid;
	border-radius: 7px;
	background-color: #f0f0f0;
	font-size: 1.2rem;
}


.form input:focus {
	border: 1px solid #268ee4;
	box-shadow: inset 0px 0px 10px rgba(38, 142, 228, 0.5);
	outline: none;
}
.form input[type="submit"],
.form input[type="verify"] {
	padding: 0.4rem 0.5rem;
	font-size: 1.2rem;
	border-radius: 7px;
	border: 1px solid;
	background-color: #c8ecb7;
}

.form input[type="verify"] {
	align: center;
	display: inline-block;
}


.form input[type="reset"] {
        padding: 0.4rem 0.5rem;
        font-size: 1rem;
        border-radius: 7px;
        border: 1px solid;
        background-color: #EE9082;
}

.error-notice {
	margin: 1rem 0;
	padding: 0.5rem;
	border: 1px solid;
	border-radius: 7px;
	background-color: #f8d6d6;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.error-notice button {
	border: 1px solid;
	background-color: #f9e5e5;
	width: 25px;
	height: 25px;
	border-radius: 7px;
}

.Card
{
	position: absolute;
	left: 10%;
	top: 20%;
	max-width: 40%;
	border: 5px solid white;
	border-radius: 10px;
	
}
.card_heading
{
	font-weight: bolder;
	font-size: 20px;
	text-decoration: underline;
}
.card_text
{
	max-width: 100px;
	position: absolute;
	left: 55%;
	top: 20%;
}
.common_box
{
	visibility: visible;
    position: absolute;
    left: 5%;
    border: 10px solid black;
    width: 30%;
    height: 30%;
    background-color: rgb(124, 124, 124);
    border-radius: 50px;
}
.common
{
    position: absolute;
    left: 25%;
    top: 0%;
    width: 50%;
    font-size: 100%;
    font-weight: bolder;
    text-align: center;
    /* font-family: 'Courier New', Courier, monospace; */

}
.common_1
{
    position: absolute;
    left: 5%;
    top: 5%;
    width: 25%;
}
.HoverBox1 
{
	border: 5px solid lightgray;
	border-radius: 10px;
	font: inherit;
	visibility: hidden;
	max-width: 100%;
	min-height: 200%;
	/* position: relative; */
	left: 0;
	right: 0;
	background-color: lightgray;
	opacity: 97%;
	z-index: -1;
} 


.common_1:hover ~ .HoverBox1 
{
	position: relative;
	left: 30%;
	bottom: 40%;
	visibility: visible;
	z-index: 1;
}

.HoverBox2
{
	border: 5px solid lightgray;
	border-radius: 10px;
	font: inherit;
	visibility: hidden;
	max-width: 100%;
	min-height: 200%;
	/* position: relative; */
	left: 0;
	right: 0;
	background-color: lightgray;
	opacity: 97%;
	z-index: -1;
}
.common_2
{
    position: absolute;
    left: 37.5%;
	bottom: 5%;
    width: 25%;
}
.HoverBox3
{
	border: 5px solid lightgray;
	border-radius: 10px;
	font: inherit;
	visibility: hidden;
	min-width: 100%;
	min-height: 200%;
	/* position: relative; */
	left: 0;
	right: 0;
	background-color: lightgray;
	opacity: 97%;
	z-index: -1;
}
.common_2:hover ~ .HoverBox2 
{
	position: relative;
	left: 65%;
	bottom: 250%;
	visibility: visible;
	z-index: 1;
}

.common_3
{
    position: absolute;
	width: 25%;
	right:5%;
    top: 5%;
}
.common_3:hover ~ .HoverBox3
{
	position: relative;
	left: 60%;
	bottom: 350%;
	visibility: visible;
	z-index: 1;
}
.uncommon_box
{

    position: absolute;
    right: 5%;
    border: 10px solid black;
    width: 30%;
    height: 30%;
    background-color: rgb(124, 124, 124);
    border-radius: 50px;



}
.uncommon_1
{
    position: absolute;
    left: 5%;
    top: 5%;
    width: 25%;
}
.HoverBox4
{
	border: 5px solid lightgray;
	border-radius: 10px;
	font: inherit;
	visibility: hidden;
	min-width: 100%;
	min-height: 200%;
	/* position: relative; */
	left: 0;
	right: 0;
	background-color: lightgray;
	opacity: 97%;
	z-index: -1;
}
.uncommon_1:hover ~ .HoverBox4
{
	position: relative;
	left: -100%;
	top:0%;
	visibility: visible;
	z-index: 1;
}
.uncommon_2
{
    position: absolute;
    right:5%;
    top: 5%;
    width: 25%;
}
.HoverBox5
{
	border: 5px solid lightgray;
	border-radius: 10px;
	font: inherit;
	visibility: hidden;
	min-width: 100%;
	min-height: 200%;
	/* position: relative; */
	left: 0;
	right: 0;
	background-color: lightgray;
	opacity: 97%;
	z-index: -1;
}
.uncommon_2:hover ~ .HoverBox5
{
	position: relative;
	left: -30%;
	top:-180%;
	visibility: visible;
	z-index: 1;
}
.uncommon_3
{
    position: absolute;
    left: 37.5%;
    bottom: 5%;
    width: 25%;
}
.HoverBox6
{
	border: 5px solid lightgray;
	border-radius: 10px;
	font: inherit;
	visibility: hidden;
	min-width: 100%;
	min-height: 200%;
	/* position: relative; */
	left: 0;
	right: 0;
	background-color: lightgray;
	opacity: 97%;
	z-index: -1;
}
.uncommon_3:hover ~ .HoverBox6
{
	position: relative;
	left: -60%;
	top:-350%;
	visibility: visible;
	z-index: 1;
}
.rare_box
{
    position: absolute;
    left: 35%;
    bottom: 5%; 
    border: 10px solid black;
    width: 30%;
    height: 30%;
    background-color: rgb(124, 124, 124);
    border-radius: 50px;

}
.rare_1
{
    position: absolute;
    left: 5%;
    top: 5%;
    width: 25%;
}
.HoverBox7
{
	border: 5px solid lightgray;
	border-radius: 10px;
	font: inherit;
	visibility: hidden;
	min-width: 100%;
	min-height: 200%;
	/* position: relative; */
	left: 0;
	right: 0;
	background-color: lightgray;
	opacity: 97%;
	z-index: -1;
}
.rare_1:hover ~ .HoverBox7
{
	position: relative;
	left: -100%;
	top:-100%;
	visibility: visible;
	z-index: 1;
}
.rare_2
{
    position: absolute;
    right:5%;
    top: 5%;
    width: 25%;
}
.HoverBox8
{
	border: 5px solid lightgray;
	border-radius: 10px;
	font: inherit;
	visibility: hidden;
	min-width: 100%;
	min-height: 200%;
	/* position: relative; */
	left: 0;
	right: 0;
	background-color: lightgray;
	opacity: 97%;
	z-index: -1;
}
.rare_2:hover ~ .HoverBox8
{
	position: relative;
	left: 100%;
	top:-300%;
	visibility: visible;
	z-index: 1;
}
.rare_3
{
    position: absolute;
    left: 37.5%;
    bottom: 5%;
    width: 25%;
}
.HoverBox9
{
	border: 5px solid lightgray;
	border-radius: 10px;
	font: inherit;
	visibility: hidden;
	min-width: 100%;
	min-height: 200%;
	/* position: relative; */
	left: 0;
	right: 0;
	background-color: lightgray;
	opacity: 97%;
	z-index: -1;
}
.rare_3:hover ~ .HoverBox9
{
	position: relative;
	left: 0%;
	top:-550%;
	visibility: visible;
	z-index: 1;
}
.greeting
{
	position: relative;
	text-align: center;
	/* left: 10%; */
	/* right: 25%; */
	/* font-family: 'Courier New', Courier, monospace; */

}

.dont_hide_hover
{
	visibility: visible;
	border: 5px solid black;

}
.hidden_hover1
{
	border: 5px solid lightgray;
	border-radius: 10px;
	font: inherit;
	visibility: hidden;
	max-width: 100%;
	min-height: 200%;
	/* position: relative; */
	left: 0;
	right: 0;
	background-color: lightgray;
	z-index: -1;
}
.hidden_hover2
{
	border: 5px solid lightgray;
	border-radius: 10px;
	font: inherit;
	visibility: hidden;
	max-width: 100%;
	min-height: 200%;
	/* position: relative; */
	left: 0;
	right: 0;
	background-color: lightgray;
	z-index: -1;
}
.hidden_hover3
{
	border: 5px solid lightgray;
	border-radius: 10px;
	font: inherit;
	visibility: hidden;
	max-width: 100%;
	min-height: 200%;
	/* position: relative; */
	left: 0;
	right: 0;
	background-color: lightgray;
	z-index: -1;
}
.hidden_hover4
{
	border: 5px solid lightgray;
	border-radius: 10px;
	font: inherit;
	visibility: hidden;
	max-width: 100%;
	min-height: 200%;
	/* position: relative; */
	left: 0;
	right: 0;
	background-color: lightgray;
	z-index: -1;
}
.hidden_hover5
{
	border: 5px solid lightgray;
	border-radius: 10px;
	font: inherit;
	visibility: hidden;
	max-width: 100%;
	min-height: 200%;
	/* position: relative; */
	left: 0;
	right: 0;
	background-color: lightgray;
	z-index: -1;
}
.hidden_hover6
{
	border: 5px solid lightgray;
	border-radius: 10px;
	font: inherit;
	visibility: hidden;
	max-width: 100%;
	min-height: 200%;
	/* position: relative; */
	left: 0;
	right: 0;
	background-color: lightgray;
	z-index: -1;
}
.hidden_hover7
{
	border: 5px solid lightgray;
	border-radius: 10px;
	font: inherit;
	visibility: hidden;
	max-width: 100%;
	min-height: 200%;
	/* position: relative; */
	left: 0;
	right: 0;
	background-color: lightgray;
	z-index: -1;
}
.hidden_hover8
{
	border: 5px solid lightgray;
	border-radius: 10px;
	font: inherit;
	visibility: hidden;
	max-width: 100%;
	min-height: 200%;
	/* position: relative; */
	left: 0;
	right: 0;
	background-color: lightgray;
	z-index: -1;
}
.hidden_hover9
{
	border: 5px solid lightgray;
	border-radius: 10px;
	font: inherit;
	visibility: hidden;
	max-width: 100%;
	min-height: 200%;
	/* position: relative; */
	left: 0;
	right: 0;
	background-color: lightgray;
	z-index: -1;
}
